@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Italic.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Variable';
    src: url('./fonts/Satoshi-Variable.woff2') format('woff2');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('./fonts/Satoshi-VariableItalic.woff2') format('woff2');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}

.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    background-color: var(--custom-primary);
    font-family: "Satoshi";
}

.outlined-text {
    display: inline-block;
}

.outlined-letter {
    color: transparent;
    -webkit-text-stroke: .5px var(--custom-accent);

}

.filled-letter {
    color: var(--custom-accent);
    -webkit-text-stroke: 0;
    transition: color 0.2s ease-in-out;

}

.gridImage{
    background-image: url(../src/assets/gridBg.png);
    background-size: cover;
    
}
.swiper {
    width: 500px;
    height: 620px;
    
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: var(--custom-accent10);
    backdrop-filter: blur(80px);
    border: 3px solid var(--custom-accent20);
  }
  
  
  html {
    scroll-behavior: smooth;
  }